* {
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    font-family: Rockwell, serif;
    font-size: 60px;
    color: white;

}

body {
    background: linear-gradient(45deg, #022902, #049804);
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vmin;
}
.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: 1px solid black;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    font-size: 10vmin;
    color: black;
    background-color: white;
}
#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #000029;
    color: white;
    border: none;
    border-radius: 1rem;
}
#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #7c0101;
    color: white;
    border: none;
    border-radius: 1rem;
}

#msg {
    color: gold;
    font-size: 8vmin;
}

#msg-container {
    height: 40vmin;
}

.hide {
    display: none;
}